*, *::before, *::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px 20px;
  }
  
  .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
  }
  
  .menu a.active {
    color: blue;
    text-decoration: underline;
  }

  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .albums-list {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-evenly;

  }


.home-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

  .home-page-logo {
    width: 500px;
  }

